.header-component {
  background-color: #1a1a1a;
  text-align: center;
}

.header__marquee-item-wrapper {
  margin: 15px 50px;
}

.header__marquee-item-wrapper span {
  color: #f5f3f3;
  font-size: 24px;
}